<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horsen.pms.mapper.ProjStaffMapper">
    <!-- 根据项目ID查询项目名称 -->
    <select id="getProjName" resultType="String">
        SELECT name
        FROM pms_horsen.project
        WHERE id = #{id}
    </select>
    <!-- 根据员工ID查询员工姓名 -->
    <select id="getStaffName" resultType="String">
        SELECT name
        FROM pms_horsen.staff
        WHERE id = #{id}
    </select>

    <resultMap id="ProjStaffMap" type="ProjStaff">
        <result property="projId" column="proj_id"/>
        <result property="staffId" column="staff_id"/>
        <association property="projName" column="proj_id" javaType="String" select="getProjName"/>
        <association property="staffName" column="staff_id" javaType="String" select="getStaffName"/>
    </resultMap>

    <!-- 查询时使用的SQL片段 -->
    <sql id="select-for">
        SELECT id, proj_id, staff_id
        FROM pms_horsen.proj_staff
    </sql>

    <!-- 根据ID查询一个项目_员工 -->
    <select id="queryProjStaffById" resultMap="ProjStaffMap" parameterType="int">
        <include refid="select-for"/>
        WHERE id = #{id}
        AND is_deleted = 0
    </select>

    <!-- 根据条件查询项目_员工 -->
    <select id="queryProjStaff" resultMap="ProjStaffMap" parameterType="ProjStaff">
        <include refid="select-for"/>
        <where>
            is_deleted = 0
            <if test="projId != null">AND proj_id = #{projId}</if>
            <if test="staffId != null">AND staff_id = #{staffId}</if>
        </where>
    </select>

    <!-- 插入一个项目_员工 -->
    <insert id="insertProjStaff" parameterType="ProjStaff">
        INSERT INTO pms_horsen.proj_staff(proj_id, staff_id)
        VALUES (#{projId}, #{staffId})
    </insert>

    <!-- 修改一个项目_员工 -->
    <update id="updateProjStaff" parameterType="ProjStaff">
        UPDATE pms_horsen.proj_staff
        <set>
            <if test="projId != null">proj_id = #{projId}</if>
            <if test="staffId != null">staff_id = #{staffId}</if>
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <!-- 根据ID删除一个项目_员工 -->
    <update id="deleteProjStaff" parameterType="int">
        UPDATE pms_horsen.proj_staff
        SET is_deleted = 1
        WHERE id = #{id}
          AND is_deleted = 0
    </update>
</mapper>