<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horsen.pms.mapper.ProjectMapper">

    <!-- 查询所有项目 -->
    <select id="queryProjectList" resultType="Project">
        SELECT *
        FROM pms_horsen.project
        WHERE is_deleted = 0
    </select>

    <!-- 根据ID查询一个项目 -->
    <select id="queryProjectById" resultType="Project" parameterType="int">
        SELECT *
        FROM pms_horsen.project
        WHERE id = #{id}
          AND is_deleted = 0
    </select>

    <!-- 根据条件查询项目 -->
    <select id="queryProject" resultType="Project" parameterType="Project">
        SELECT *
        FROM pms_horsen.project
        <where>
            is_deleted = 0
            <if test="name != null">AND name LIKE "%"#{name}"%"</if>
            <if test="startTime != null">AND start_time = #{startTime}</if>
            <if test="endTime != null">AND end_time = #{endTime}</if>
        </where>
    </select>

    <!-- 插入一个项目 -->
    <insert id="insertProject" parameterType="Project">
        INSERT INTO pms_horsen.project(name, start_time, end_time)
        VALUES (#{name}, #{startTime}, #{endTime})
    </insert>

    <!-- 修改一个项目 -->
    <update id="updateProject" parameterType="Project">
        UPDATE pms_horsen.project
        <set>
            <if test="name != null">name LIKE "%"#{name}"%"</if>
            <if test="startTime != null">start_time = #{startTime}</if>
            <if test="endTime != null">end_time = #{endTime}</if>
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <!-- 根据ID删除一个项目 -->
    <update id="deleteProject" parameterType="int">
        UPDATE pms_horsen.project
        SET is_deleted = 1
        WHERE id = #{id} AND is_deleted = 0
    </update>

</mapper>