<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horsen.pms.mapper.ProjectMapper">

    <!-- 查询所有项目 -->
    <select id="queryProjectList" resultType="Project">
        select *
        from pms_horsen.project
        where is_deleted = 0
    </select>

    <!-- 根据ID查询一个项目 -->
    <select id="queryProjectById" resultType="Project" parameterType="int">
        select *
        from pms_horsen.project
        where id = #{id}
          and is_deleted = 0
    </select>

    <!-- 根据条件查询项目 -->
    <select id="queryProject" resultType="Project" parameterType="Project">
        select *
        from pms_horsen.project
        <where>
            is_deleted = 0
            <if test="name != null">and name like "%"#{name}"%"</if>
            <if test="startTime != null">and start_time = #{startTime}</if>
            <if test="endTime != null">and end_time = #{endTime}</if>
        </where>
    </select>

    <!-- 插入一个项目 -->
    <insert id="insertProject" parameterType="Project">
        insert into pms_horsen.project(name, start_time, end_time)
        values (#{name}, #{startTime}, #{endTime})
    </insert>

    <!-- 修改一个项目 -->
    <update id="updateProject" parameterType="Project">
        update pms_horsen.project
        <set>
            <if test="name != null">name like "%"#{name}"%"</if>
            <if test="startTime != null">start_time = #{startTime}</if>
            <if test="endTime != null">end_time = #{endTime}</if>
        </set>
        where id = #{id} and is_deleted = 0
    </update>

    <!-- 根据ID删除一个项目 -->
    <update id="deleteProject" parameterType="int">
        update pms_horsen.project
        set is_deleted = 1
        where id = #{id} and is_deleted = 0
    </update>

    <!--  -->
</mapper>