<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horsen.pms.mapper.ProjectMapper">
    <!-- 根据项目ID查询员工姓名 -->
    <select id="queryStaffByProjId" resultType="String">
        SELECT GROUP_CONCAT(s.name SEPARATOR ' | ')
        FROM pms_horsen.proj_staff ps
                 INNER JOIN pms_horsen.staff s
                            ON ps.staff_id = s.id
        WHERE ps.proj_id = #{projId}
          AND s.is_deleted = 0
          AND ps.is_deleted = 0
    </select>

    <resultMap id="ProjectMap" type="Project">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <collection property="staffNames" column="id" javaType="String" select="queryStaffByProjId"/>
    </resultMap>

    <!-- 查询时使用的SQL片段 -->
    <sql id="select-for">
        SELECT id, name, start_time, end_time
        FROM pms_horsen.project
    </sql>

    <!-- 根据ID查询一个项目 -->
    <select id="queryProjectById" resultMap="ProjectMap" parameterType="int">
        <include refid="select-for"/>
        WHERE id = #{id}
        AND is_deleted = 0
    </select>

    <!-- 根据条件查询项目 -->
    <select id="queryProject" resultMap="ProjectMap" parameterType="Project">
        <include refid="select-for"/>
        <where>
            is_deleted = 0
            <if test="name != null">AND name LIKE "%"#{name}"%"</if>
            <if test="startTime != null">AND start_time = #{startTime}</if>
            <if test="endTime != null">AND end_time = #{endTime}</if>
        </where>
    </select>

    <!-- 插入一个项目 -->
    <insert id="insertProject" parameterType="Project">
        INSERT INTO pms_horsen.project(name, start_time, end_time)
        VALUES (#{name}, #{startTime}, #{endTime})
    </insert>

    <!-- 修改一个项目 -->
    <update id="updateProject" parameterType="Project">
        UPDATE pms_horsen.project
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <!-- 根据ID删除一个项目 -->
    <update id="deleteProject" parameterType="int">
        UPDATE pms_horsen.project
        SET is_deleted = 1
        WHERE id = #{id}
          AND is_deleted = 0
    </update>

</mapper>